* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background: #f4f4f4;
  color: #000000;
  line-height: 1.6;
}

.container {
  width: 90%;
  max-width: 1000px;
  margin: auto;
}

header {
  background: #0077cc;
  color: black;
  padding: 20px 0;
}

header h1 {
  text-align: center;
}

nav {
  text-align: center;
  margin-top: 10px;
}

nav a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
}

.hero {
  background: url('https://images.unsplash.com/photo-1581092787939-b7e3eeb62b38') no-repeat center center/cover;
  color: white;
  padding: 100px 20px;
  text-align: center;
}

.hero .btn {
  margin-top: 20px;
  display: inline-block;
  background: #ff9900;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
}

section {
  padding: 40px 0;
}

ul {
  list-style: none;
  padding-left: 0;
}

form {
  display: flex;
  flex-direction: column;
}

form input, form textarea, form select {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

form button {
  background: #28a745;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}

footer {
  background: #333;
  color: white;
  text-align: center;
  padding: 20px 0;
  margin-top: 30px;
}

/* Responsif */
@media (max-width: 600px) {
  nav a {
    display: block;
    margin: 10px 0;
  }

  .hero {
    padding: 50px 20px;
  }
}
